#group {
}

#customColorBoxControls {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#colorLabel {
  font-size: 0.725rem;
}
.demo-box {
  border: 0.5px solid hsla(0deg, 0%, 60%, 0.5);
  aspect-ratio: 1/1;
  width: 50%;
}

.rebecca-purple {
  background-color: rebeccapurple;
}

.green {
  background-color: hsl(180deg, 70%, 18%);
}

.red {
  /* hsl(0deg, 70%, 18%);*/
  background-color: #4e0e0e;
}

.yellow {
  /*hsl(60deg, 70%, 80%);*/
  background-color: rgb(240, 240, 168);
}

.blue {
  /* hsl(210,70.6%,80%) */
  background-color: rgb(65.9%, 80%, 94.1%);
}

.gray {
  /* hsl(144, 3%, 77%) */
  background-color: #c3c6c432;
}
