.demo-box {
    border: 0.5px solid hsla(0deg, 0%, 60%, 0.5);
    aspect-ratio: 1/1;
    background: url("https://images.unsplash.com/photo-1544923408-75c5cef46f14?auto=format&fit=crop&w=690&q=80");
    background-size: contain;
    width: 100%;
  }
  #containerOfDemoBoxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
    margin: 2rem 0;
    width: 100%;
  }
  
  .demo {
    display: flex;
    flex-flow: column nowrap;
  }
  
  .demo-label {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.825rem;
    color: hsl(0, 0%, 38%);
  }
  #demoBox1 {
    background-size: contain;
  }
  
  #demoBox2 {
    background-size: cover;
  }
  
  #demoBox3 {
    background-size: auto;
  }
  