@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
.a{
    font-size: xx-small;
}
.b{
    font-size: x-small;
}
.c{
    font-size: small;
}
.d{
    font-size: medium;
}
.e{
    font-size: large;
}
.f{
    font-size: x-large;
}
.g{
    font-size: xx-large;
}
