div{
    width: 300px;
    height: 100px;
}
div p{
    width: 50%; /*caculated: 150px*/
    transform: translateX(10%); /*calulated: 150px*/
}

/*presentation styles*/
div, p{
    border: 1px solid var(--color-stroke);
}
p{
    padding: 0.25rem;
}