.emoji{
    font-size: 8em;
    filter: grayscale(100%);
    transition: filter 450ms ease;
}
.emoji:is(:hover, :focus){
    filter: grayscale(0%) drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
body{
    display: grid;
    place-items: center;
}